body{
    text-align: center;
    margin: auto;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
nav{
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    background: #090c2f;
    padding: 5px 0;
}
nav a{
    color: #fffcf6;
    font-size: 1.2rem;
    border: none;
    background: #090c2f;
}
a{
    border: 1px solid hwb(0 13% 87%);
    background: hsl(0, 3%, 82%);
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;

}
.imp{
    margin-top:-0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    height: 8rem;
    width: 8rem;
}
.main{
    position: relative;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.des{
    margin-top: 2rem;
}
.btn{
  margin-top: -1rem ;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  color: white;
  background:black;
  border-radius: 10px;
  cursor: pointer;
}
