.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
button{
    width: 5rem;
    height: 1.5rem;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2rem;
}
img{
    height: 20rem;
    width: 20rem;
}